
:root {
  --color-bg-light: white;
  --color-fg-light: black;
  --color-bg-dark: black;
  --color-fg-dark: white;
}


div.dark-mode {
  background-color: var(--color-bg);
  color: var(--color-fg);
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-bg: var(--color-bg-dark);
    --color-fg: var(--color-fg-dark);
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --color-bg: var(--color-bg-light);
    --color-fg: var(--color-fg-light);
  }
}
 body{
  height: 100vh;
 }